div{
    background-color: tomato;
    padding: 10px;
    margin-bottom: 10px;
}
.profile img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 10px red;
}
.profile{
    text-align: center;
}